<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="car">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00249943453803799 0.0399999997445289 -0.00222169952839942"
        rpy="0 0 0" />
      <mass
        value="0.0227065289765593" />
      <inertia
        ixx="2.34933598437368E-06"
        ixy="8.78425326495881E-14"
        ixz="7.83844178652788E-08"
        iyy="3.58208725136644E-06"
        iyz="4.30958621134321E-15"
        izz="4.4937142573437E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.498039215686275 0.607843137254902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_fl">
    <inertial>
      <origin
        xyz="-2.34524812764425E-11 -2.75173639163045E-07 0.00581344851870749"
        rpy="0 0 0" />
      <mass
        value="0.000301526530521617" />
      <inertia
        ixx="3.6039936402072E-09"
        ixy="-1.52160111633009E-20"
        ixz="4.51029933620484E-20"
        iyy="3.60399355257099E-09"
        iyz="1.54764413864999E-14"
        izz="6.60047728637718E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel_fl.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel_fl.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="continuous">
    <origin
      xyz="0.00814423436974416 0.051 -0.00687734430037481"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="wheel_fl" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel_fr">
    <inertial>
      <origin
        xyz="-2.24263194820162E-11 -2.75173585173247E-07 -0.00118655148151145"
        rpy="0 0 0" />
      <mass
        value="0.00030152653049208" />
      <inertia
        ixx="3.60399364023472E-09"
        ixy="-1.89077202911312E-20"
        ixz="9.25586366517323E-20"
        iyy="3.60399355036534E-09"
        iyz="1.54764397084946E-14"
        izz="6.60047728396979E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel_fr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel_fr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="continuous">
    <origin
      xyz="0.00814423436974416 0.022 -0.0068773443003748"
      rpy="1.5707963267949 -1.5215275673287 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_fr" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel_rl">
    <inertial>
      <origin
        xyz="-2.34524847458895E-11 -2.75173639166515E-07 0.0058134485187075"
        rpy="0 0 0" />
      <mass
        value="0.000301526530521617" />
      <inertia
        ixx="3.60399364020719E-09"
        ixy="-1.52188855738831E-20"
        ixz="4.51031509418622E-20"
        iyy="3.60399355257099E-09"
        iyz="1.54764413864277E-14"
        izz="6.60047728637718E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel_rl.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel_rl.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="continuous">
    <origin
      xyz="-0.0118557656302558 0.051 -0.00687734430037481"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="wheel_rl" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel_rr">
    <inertial>
      <origin
        xyz="-2.24229749351545E-11 -2.75173634564294E-07 -0.00118655148150121"
        rpy="0 0 0" />
      <mass
        value="0.000301526530493677" />
      <inertia
        ixx="3.60399364034364E-09"
        ixy="-1.91211070397758E-20"
        ixz="9.27020615797781E-20"
        iyy="3.60399355035177E-09"
        iyz="1.54764375924157E-14"
        izz="6.60047728407606E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel_rr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car/meshes/wheel_rr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="continuous">
    <origin
      xyz="-0.0118557656302558 0.022 -0.0068773443003748"
      rpy="1.5707963267949 0.39309481042652 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_rr" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>